<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
  <div class="panel-body">
    <p>Stats</p>
  </div>
</div>
    </div>
   <div class="col-xs-6">
        <div class="panel panel-default">
  <div class="panel-body">
    <p>Feed</p>
  </div>
</div>
    </div>
 <div class="col-xs-3">
        <div class="panel panel-default">
  <div class="panel-body">
    <p>Abouts</p>
  </div>
</div>
    </div>
  </div>
</div>
<!-- s2,-->
<div class="container-fluid">
  <div class="row">
 <div class="col-xs-3">
        <div class="panel panel-default">
  <div class="panel-body">
    <p>Trends</p>
  </div>
</div>
    </div>
  </div>
</div>