
    <div class="container-fluid">
       <div class="jumbotron">
 Header Profile
</div>
</div>
<!--s1,-->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
  <div class="panel-body">
    <p>Profile</p>
  </div>
</div>
    </div>
   <div class="col-xs-6">
        <div class="panel panel-default">
  <div class="panel-body">
    <p>Posts</p>
  </div>
</div>
    </div>
 <div class="col-xs-3">
        <div class="panel panel-default">
  <div class="panel-body">
    <p>Who to Follow</p>
  </div>
</div>
    </div>
  </div>
</div>
<!-- s2,-->
<div class="container-fluid">
  <div class="row">
 <div class="col-xs-3 col-xs-offset-9">
        <div class="panel panel-default">
  <div class="panel-body">
    <p>Trends</p>
  </div>
</div>
    </div>
  </div>
</div>